!!! Strict
%html{ html_attrs("en") }
  %head
    %title
      Ask'em
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    %link{ :href => "/stylesheets/master.css", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }/
  %body
    - for q in questions
      .question
        = q.text
        .replies= q.replies
        .last_reply_at= q.last_at
